@model IEnumerable<MvcWithLogin.Models.Dep_Courses>

@{
    ViewBag.Title = "Dept_Courses";
}
<div class="container-fluid px-4">
    

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">

            @Html.ActionLink("Create New", "Create" , null , new { @class = "btn btn-danger" })

            <table class="table" id="datatablesSimple">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Courses.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department.Name)
                    </th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>

                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Courses.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Courses_id } , new { @class = "btn btn-secondary" }) 
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Courses_id } , new { @class = "btn btn-secondary" }) 
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Courses_id } , new { @class = "btn btn-secondary" })
                </td>
            </tr>
                }

            </table>

        </div>
    </div>
</div>

